body {
    background: #3da3d5;
    color: rgb(53, 53, 53);
}

.title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
    border-top: 2px dashed #3da3d5;
    padding-top: 1em;
    text-decoration: underline;
}

h3 {
    padding-top: 0.25em;
    background-color: transparent;
    color: #e11d48;
}

h5 {
    padding-top: 0.25em;
    background-color: transparent;
    color: #3da3d5;
}

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
        0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
}

.date {
    /* color: rgb(201, 251, 255); */
    color: e11d48;
    align-items: center;
}

#description {
    margin: 1.5em 0 2em 0;
    background-color: transparent;
    color: black;
}

.button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
}

.workButton {
    /* background-color: #06d6a0; */
    background-color: #e11d48;
}

.workButton:hover {
    background-color: #3da3d5;
}

.schoolButton {
    /* background-color: #f9c74f; */
    background-color: #3da3d5;
}

.schoolButton:hover {
    /* background-color: #f3bc3c; */
    background-color: #e11d48;
}

@media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
        display: block !important;
        float: none !important;
        color: #e11d48;
        margin-top: 1.5em;
        background-color: transparent;
        margin-left: 0px;
    }
}