<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto abter">

            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading suber">Grow yourself with us.</p>
            <div class="row">
                {{!-- left side --}}
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/img3.jpg" class="image-left" alt="ok">
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>We Our Most Advance College in Ajmer, Rajasthan</h1>
                    <h1>Industry gets attracted to hire our students.</h1>
                    <p>We are a team of <span class="bold-style">Reputable Professionals</span></p>
                    <button class="btn-style btn-primary">Alumni Touch</button>
                </div>
            </div>
        </div>
    </div>
</div>