<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

        * {
            font-family: 'Nova Oval', cursive;
        }
    </style>
    <title>Dynamic Website</title>
</head>

<body>
    {{>navbar}}

    {{!-- hero section start --}}
    {{>hero}}
    {{!-- hero section ends --}}

    {{!-- about section start --}}
    {{>about}}
    {{!-- about section ends --}}

    {{!-- services section start --}}
    {{>service}}
    {{!-- services section ends --}}

    {{!-- maps section start --}}
    {{>maps}}
    {{!-- maps section ends --}}

    {{!-- contacts --}}
    {{>contact}}
    {{!-- contacts --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js"></script>
</body>

</html>